<!DOCTYPE html>
<html>
<head>
  <title>Backbonedemo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery-1.5.2.min.js","jquery-ui.min","json2.js","underscore.js","backbone.js","ICanHaz","handlebars-0.9.0.pre.4","application" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
